/* Numbering suffix in TOC */
.toc-section-number:after{
    content: " "
}

/* Numbering suffix in Body/Content */
.header-section-number:after{
    content: " "
}


#TOC {
  position: fixed;
  right: 0vw;
  width: 10vw;
  max-width:80vw;
  overflow:auto;
  border: 3px solid #73AD21;
}