.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.service-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .service-image {
    height: 80px;
    width: 120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    img {
      border-radius: 10px;
    }
  }
}