.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.service-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .service-image {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 60px;
    }
  }
}